@import "src/scss/_bootstrap-imports.scss";
$listStyle: circle;

::selection {
    color: white;
    background: #0275d8;
}

html, body {
  overflow-x: hidden;
}

body {
    font-size: 16px;
    animation: fadeInUp 350ms ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity:0;
        transform: translateY(17px);
    }
    to {
        opacity:1;
    }
}

header#nicktobolski {
    width: 100%;
    margin-bottom: 3rem;
    @include media-breakpoint-down(sm) {
        margin-bottom: .8rem;
    }
    @include clearfix;
    .name {
        background-color: #333;
        padding: 1em;
        color: #fff;
        width: auto;
        float: left;
        clear: none;
        @include media-breakpoint-down(sm) {
            width: 100%;
            float: none;
        }
        @include media-breakpoint-down(xs) {
            position: absolute;
            top: -30px;
            left: 0px;
            width: 100vw;
            padding: 1.5rem 1rem;
        }
        &::selection {
            background: transparent;
            color: #0275d8;
        }
    }
}

.title-wrap {
    margin-bottom: 1rem;
    float: left;
    clear: none;
}

.contact-wrap {
    float: right;
    position: absolute;
    right: 15px;
    top: 5.25rem;
    @include media-breakpoint-down(sm) {
        position:static;
        float: left;
        clear: both;
        top:.15em;
    }
    @include media-breakpoint-up(md) {
        line-height: 1.2rem;
    }
    .contact-info {
        text-align: right;
        @include media-breakpoint-down(sm) {
            margin-top: 1.1rem;
            text-align: left;
        }
    }
}

.meta, .title {
    font-style: italic;
}

.title {
    float: left;
    clear: left;
    font-size: 18px;
    @include media-breakpoint-down(xs) {
        margin-top: 69px;
        font-size: 16px;
    }
}

.single-line {
    padding-top: .25rem;
}

.row h4 {
    font-size: 20px;
    margin-top: 2.2rem;
    margin-bottom: 0;
    &:first-of-type {
        margin-top: .34rem;
    }
}

div.meta {
    color: #999;
}

ul.desc {
    top: 0;
    padding-left: 30px;
    list-style: $listStyle;
}

ul.multi-col {
    @extend .desc;
    @include media-breakpoint-up(sm) {
        padding-left: 0;
        column-count: 2;
        column-gap: 1.5em;
        list-style: none;
        li {
          padding-left: 15px;
          text-indent: -15px;
        }
    }
    @include media-breakpoint-up(lg) {
        column-count: 3;
        column-gap: 2.5em;
    }
}

.main {
    margin-top: 2em;
}

.main .row {
    margin-top: 1.5em;
    &:first-of-type {
        margin-top:1.2rem;
    }
}

.row:first-child {
    margin-top: 0;
}

.icon-wrap {
    width:108px;
    margin: 2rem auto;
    &:after {
        display: block;
        content: "";
        clear: both;
    }
}

a.icon-link {
    display: block;
    width: 48px;
    height: 47px;
    text-indent: -9999px;
    opacity: .3;
    transition: opacity .3s;
    float: left;
    clear: none;

    &:first-of-type {
        margin-right: 11px;
    }
    img, svg {
        display: block;
        width:  48px;
        height: 48px;
        fill: red;
        stroke: #cc8ac1;
         stroke-width: 5px;
         fill: lighten(#cc8ac1, 20%);
    }
}

a.icon-link:hover {
    opacity: .7;
}

#interests {
    margin-top: 2.6rem;
}

.git-fork {
  display: block;
  position: absolute;
  top: 3rem;
  right: -8rem;
  width: 25rem;
  line-height: 2em;
  height: 2em;
  transform: rotate(45deg);
  background-color: #333;
  text-indent: .8em;
  a {
    position: relative;
    width: 100%;
    height: 100%;
    color: #dedede;
    display: block;
    text-align: center;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 3px;
      width: 100%;
      border-bottom: 1px dashed #dedede;
    }
    &:after {
      bottom: 0;
      top: auto;
      border-bottom-width: 0;
      border-top: 1px dashed #dedede;
    }
  }
  @include media-breakpoint-down(xs) {
    display: none;
  }
}

@media print {
    body {
        font-size: 10pt;
    }

    h1 {
        color: black!important;
        background-color: white!important;
    }

    // Hackfix bootstrap print issue
    // https://github.com/twbs/bootstrap/issues/21771
    h3::first-letter, h4::first-letter {
        margin-top: 0;
    }
    h1.name::first-letter {
        margin-top:0;
    }

    // fixing chrome print view render bug
    #cybergroup-experience {
        margin-top: 7.8rem!important;
    }

    #objective {
        margin-top: 1.8rem!important;
    }

    .contact-wrap {
        display: block;
        position: absolute;
        top: -15px;
        margin-top: 0;
        right: 15px;
        line-height: 1.25em;
        font-size: .875rem;
        .contact-info {
            text-align: right!important;
        }
    }

    .name {
        margin-top: 0;
        margin-bottom: 0rem;
        padding: 0!important;
        top: 30px;
        position: static!important;
    }

    ul.multi-col {
        padding-left: 0;
        column-count: 3;
        column-gap: 1.5em;
        list-style: none;
        li {
            padding-left: 15px;
            text-indent: -15px;
        }
    }
    h2.title {
        font-size: 15px;
        margin-top: 4px;
        margin-bottom: 9px;
        color: #999;
    }
    .row h4 {
        margin-top: 1rem;
        &:first-of-type {
          margin-top:.65rem;
        }
    }

    div.x-refs {
        display: none;
    }

    .main .row {
        margin-top: 1em;
    }

    .icon-wrap {
        display: none;
    }
}
